<h1>Popular homes in Taipei</h1>

<p class="btn btn-dark"><%= link_to "Create Flat", flats_new_path %></p>

<% @flats.each do |flat| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= flat.name %></h5>
      <p class="card-text"><%= flat.description %></p>
      <p class="btn btn-dark"><%= link_to "More info", flat_path(flat) %></p>
    </div>
  </div>
<% end %>
