<h1 class= "m-2">Homes in Taipei</h1>

<div class="d-flex p-2">

  <% @flats.each do |flat| %>
    <div class="card m-2 shadow-sm border-none" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.description %></p>
      </div>
      <p><%= link_to "More info", flat_path(flat), class: "btn btn-outline-primary text-decoration-none ms-5" %></p>
    </div>
  <% end %>

</div>
